<mat-toolbar>
    <mat-icon>account_circle</mat-icon>
    Contatos
</mat-toolbar>
<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>list</mat-icon>
            Todos
        </ng-template>
        <mat-card>
            <table mat-table [dataSource]='contacts'>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCelldef="let contact">{{ contact.id }}</td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Nome</th>
                    <td mat-cell *matCelldef="let contact">{{ contact.name }}</td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCelldef="let contact">{{ contact.email }}</td>
                </ng-container>

                <ng-container matColumnDef="favorite">
                    <th mat-header-cell *matHeaderCellDef>Favorito</th>
                    <td mat-cell *matCelldef="let contact">{{ contact.favorite }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
        </mat-card>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>face</mat-icon>
            Novo
        </ng-template>
        <mat-card>
            <mat-card-title>Novo Contato:</mat-card-title>
            <form [formGroup]="form" (ngSubmit)="submit()">
                <mat-form-field class="full-width">
                    <mat-label>Nome:</mat-label>
                    <br>
                    <input formControlName="name" matInput placeholder="Digite seu nome"/>
                </mat-form-field>
                <br>
                <div *ngIf="this.form.controls['name'].errors">
                    <div *ngIf="this.form.controls['name'].errors?.['required']">
                        Campo nome é obrigatório.
                    </div>
                </div>
        
                <mat-form-field class="full-width">
                    <mat-label>Email:</mat-label>
                    <br>
                    <input formControlName="email" matInput placeholder="Digite seu email"/>
                </mat-form-field>
                <br>
                <div *ngIf="this.form.controls['email'].errors">
                    <div *ngIf="this.form.controls['email'].errors?.['email']">
                        Email inválido.
                    </div>
                    <div *ngIf="this.form.controls['email'].errors?.['required']">
                        Campo email é obrigatório.
                    </div>
                </div>
        
                <button  mat-button color="primary">Adicionar</button>
            </form>
        </mat-card>       
    </mat-tab>
</mat-tab-group>
